body {
  color: white;
  background-image: url('https://static.vecteezy.com/system/resources/previews/010/438/931/non_2x/cute-cats-seamless-pattern-hand-drawn-cat-cartoon-characters-repeat-background-vector.jpg');
  background-size: cover; 
  background-position: center;
}
