body {
    font-family: 'Arial', sans-serif;
    background: url('https://img.freepik.com/vector-gratis/fondo-colorido-modelo-huellas-pata-perro-o-gato_1017-30662.jpg?w=1060&t=st=1701333285~exp=1701333885~hmac=bfb38c8d4effdc8f6e34664ef129387f667e8e44630e4ce03691abec8cbe31d2');
    margin: 0;
    padding: 0;
  }
  
  h1 {
    text-align: center;
    color: #000000;
  }
  
  #listaMascotas {
    list-style: none;
    padding: 0;
  }
  
  li {
    background-color: #fff;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  }
  
  span {
    font-weight: bold;
  }
  
  button {
    background-color: rgb(255, 0, 153);
    color: #fff;
    border: none;
    padding: 5px 10px;
    margin-left: 5px;
    cursor: pointer;
    border-radius: 3px;
  }
  
  button:hover {
    background-color: rgb(255, 242, 0);
    color: #000000;
  }
  
  .container{
    background-color: #fff;
  }

  .botonInicio{
    position: fixed;
    top: 15px; /* Ajusta la distancia desde la parte superior según sea necesario */
    right: 15px; /* Ajusta la distancia desde la parte derecha según sea necesario */
    display: inline-block;
    padding: 15px 20px; /* Ajusta el relleno según sea necesario */
    font-size: 18px; /* Tamaño del texto */
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border-radius: 10px; /* Esquinas redondeadas */
    color: #fff; /* Color del texto */
    background-color: rgb(255, 111, 0);
  }